// FONTS
@import url("https://fonts.googleapis.com/css?family=Monoton");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Mr+Dafoe");
@import url("https://fonts.googleapis.com/css?family=Changa+One");


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing:border-box;
}

audio { 
  width: 200px; 
}

.hide {
  opacity: 0;
  display: none;
}

.center {
  flex-wrap: wrap;
  align-content: center;
  
}

input[type=text] {
  padding: 3px;
  margin:10px 0;
}

input, textarea {
  font-family: sans-serif;
  font-size: inherit;
  border-radius:10px;
}

input[type=submit] {

  /* usual styles */
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:15%;

}

:root {
  --accent-color: #fff;
  --gradient-color: #FBFBFB;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(https://media.giphy.com/media/iI4vhciiVh2b3j9sgo/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-container {
  // display: grid;
  width: 100%;
  height: 100%;
}


//--------------GRID CONTAINER ---------------------------
.grid-container {
  // display: grid;  // turn this on after login
  display: none;
  width: 100%;
  height: 100%;
  grid-template-columns: 0.9fr 1.3fr 1.5fr 0.6fr;    
  grid-template-rows: 0.5fr 2.3fr 0.2fr;
  gap: 5px 5px;
  grid-template-areas:
  "side-nav cards-container cards-container ."
  "side-nav center-container center-container left-container"
  ". footer footer .";
}

.center-container {
  grid-area: center-container;
  border: 5px solid #ec008c;
  background-color: #fefefe;
  padding: 50px;
  margin: 20px;
  opacity: 0.8;
  opacity: 0.9;
  margin-left: 200px;
  margin-right: 200px;
  width: 75%;
}

.center-container input{
  width: auto;
  height: auto;
  text-align: center;
}

.side-nav { 
  grid-area: side-nav; 
}

.footer {
  grid-area: footer;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 7px;
  width: 100%;
  background-color: rgb(31, 30, 30);
  background-blend-mode: screen;
  color: #a759f5;
  text-align: center;
  opacity: 0.9;
}

.footer p{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 20px;

}

.left-container { 
  grid-area: left-container;
  border: 5px solid aquamarine;
  border-radius: 10px; 
  background-color: #fefefe;
  padding: 50px;
  margin: 20px;
  opacity: 0.8; 
}

// .story-option-div { 
//   grid-area: story-option-div;
//   // display: fixed;
//   // overflow-x: auto;
//   // padding: 10px;
//   // scroll-behavior: smooth;
// }

// .story-option-div::-webkit-scrollbar {
//   display: none;
// }


//--------------SIDE NAV MENU-----------------------------

.sidebar{
  position: fixed;
  z-index: 1;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
  align-content: center;
  }
  .sidebar header{
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
  }
  .sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
  }
  a.active,a:hover{
  border-left: 5px solid var(--accent-color);
  color: #fff;
      background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  }
  .sidebar a i{
  font-size: 23px;
  margin-right: 16px;
  }
  .sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
  }

  .sidebar img {
      padding-left: 35px;
  }
  #check{
  display: none;
  }
  label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #d6adff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #e8d1ff;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
      3.5px 3.5px 20px 0px rgba(0,0,0,.1),
      2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
  }
  label #cancel{
  opacity: 0;
  visibility: hidden;
  }
  #check:checked ~ .sidebar{
  left: 0;
  }
  #check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
  }
  #check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
  }
  @media(max-width : 860px){
  .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
  }
  header,#btn,#cancel{
      display: none;
  }
  span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
  }
  .sidebar a{
      height: 60px;
  }
  .sidebar a i{
      margin-left: -10px;
  }
  a:hover {
      width: 200px;
      background: inherit;
  }
  .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
  }
  }

  .sidebar > a.active,.sidebar > a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
  }
  .sidebar a.active,.sidebar > a:hover:nth-child(odd) {
  --accent-color: #c1b1f7;
  --gradient-color: #A890FE;
  }


.frame {
  width: 50%;
  height: 30%;
  margin: auto;
  text-align: center;
}

h2 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #a759f5;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  color: #d6adff;
  margin: 0;
}

//----------------------------------------

// #main-page {
//   color: ;
// }

.current-story{
  background-color: whitesmoke;
}

//----------Story Input Form-------------
#input-form{
  background-color: whitesmoke;
}

//----------Splash Screen-----------------
#splashscreen {
  background: #000;
  background-image: linear-gradient(to bottom, #6a0275 10%, #040c4a 60%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.m-logo {
  & {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 501;
  }

  &__wrap {
    transform: scale(0);
    text-align: center;
  }

  h1 {
    font-family: "Press start 2p", sans-serif;
    font-size: 62px;
    letter-spacing: -4px;
    font-weight: 400;
    margin: 0 0 0.25em;
    line-height: 1.25;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0%, #3ff8c6),
      color-stop(0%, #3fa8c6),
      color-stop(100%, #399ab2)
    );
    background-image: -webkit-linear-gradient(
      top,
      #3fa8c6 0%,
      #3fa8c6 0%,
      #ff9ab2 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    // background-clip: text;
    // text-shadow: 0 px 1px #000;
  }

  .subtitle {
    color: #ec008c;
    font-size: 50px;
    margin: 0;
    font-family: "Mr Dafoe", serif;
    text-shadow: 0px 1x 0px darken(#ec008c, 30%);
  }

  .login {
    font-family: "Changa One", sans-serif;
    font-size: 47px;
    word-spacing: 3px;
    color: #3fa8c6;
    margin: 3;
    text-shadow: 0px 1x 0px darken(#3fa8c6, 30%);
    cursor: pointer;
  }
}

#type {
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: typewriter;
          animation: typewriter;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: steps(25, end);
          animation-timing-function: steps(25, end);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#type::after {
  content: "|";
  position: absolute;
  right: 0;
  -webkit-animation: caret infinite;
          animation: caret infinite;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: steps(1, end);
          animation-timing-function: steps(1, end);
}

@-webkit-keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 10.2em;
  }
}

@keyframes typewriter {
  0%, 100% {
    width: 0;
  }
  20%, 80% {
    width: 10.2em;
  }
}

@-webkit-keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


.wrapper {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  overflow: hidden;
  filter: blur(1px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    // background-color: gray;
    background-image: linear-gradient(transparent 70%, rgba(#000, 0.5) 30%);
    background-size: 3px 3px;
    z-index: 601;
    pointer-events: none;
  }
}
.m-grid {
  & {
    // background-color: black;
    position: absolute;
    top: 50%;
    margin-top: -75vh;
    left: 50%;
    margin-left: -100vw;
    width: 200vw;
    height: 150vh;
    transform: scaleY(0);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        rgba(#ec008c, 0.5) 25%,
        rgba(#ec008c, 0.9) 26%,
        transparent 27%,
        transparent 74%,
        rgba(#ec008c, 0.5) 75%,
        rgba(#ec008c, 0.9) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        rgba(#ec008c, 0.75) 25%,
        rgba(#ec008c, 0.25) 26%,
        transparent 27%,
        transparent 74%,
        rgba(#ec008c, 0.75) 75%,
        rgba(#ec008c, 0.25) 76%,
        transparent 77%,
        transparent
      );
    background-size: 50px 50px;

    &.is-animating {
      animation: fly 1s linear;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes fly {
  0% {
    transform: perspective(300px) rotateX(80deg) translateY(0%);
  }
  100% {
    transform: perspective(300px) rotateX(80deg) translateY(50px);
  }
}

//----------Cards----------------

.cards-container {
  grid-area: cards-container;
  display: flex;
  padding-left: 150px;
  overflow-x: auto;
  -ms-overflow-style: none;
	scrollbar-width: none;
	// padding-left: 10px;
	scroll-behavior: smooth;
  
}
.card {
    margin: .5em;
    padding: 5px;
    border: 1px solid #d6adff;
    border-radius: 1px;
    color: darkslateblue;
    background-color: white;

}

.card img{
  width: 10em;
  height: 9em;
}

.card p{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  
  font-size: 20px;
  color: #d6adff;
}

.card h4{
  text-align: center;
}

.card.hide {
    opacity: 0;
}

.card:hover {
  box-shadow: 10px 10px #d6adff;
  border: 3px solid #d6adff;
}




//--------------------UL & LI Styling---------------------
ul {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  color: #d6adff;
  line-height: 1.5;
  margin: 2vmin 6vmin;
  list-style: none;
}

li {
  position: relative;
  font-weight: 700;
  transition: .25s ease-in-out;
}

.pressed li:hover {
  /*color: hsl(0, 100%, 25%);*/
  text-shadow: 1px 1px 0px hsl(0, 0%, 5%), -1px -1px 0px hsl(0, 0%, 15%);
}

li:hover {
  color: hsl(191, 69%, 40%);
}

li::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: -.75em;
  top: 46%;
  width: .3em;
  height: .3em;
  box-sizing: border-box;
  border-radius: 100%;
  border: .1em solid hsl(0, 0%, 20%);
  background-color: hsl(200, 100%, 50%);
  transition: .125s ease-in-out;
  box-shadow: 0 0 .1rem .1rem hsla(0, 0%, 50%, .25);
  animation: pulse 1s 1s infinite linear alternate;
}

@keyframes pulse {
  from {
      background-color: hsl(200, 100%, 50%);
  }
  to {
      background-color: hsl(200, 0%, 20%);
  }
}

li:hover::before {
  border-width: 0;
  background-color: hsl(312, 100%, 50%);
  box-shadow: 0 0 .5rem .1rem hsla(312, 100%, 50%, 1);
  animation: none;
}

.pressed {
  font-size: 30px;
  color: hsl(191, 69%, 40%);
  text-shadow: -1px -1px 0px hsl(312, 100%, 50%), 1px 1px 0px hsl(0, 0%, 15%);
}

//---------Modal Styling----------------

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
